/*
* expandable menu started
*/


@media (max-width: 1199px) {


    .header-navigation {
        margin-bottom: 0;
    }

    .logo-box {
        width: 100%;
        float: none;
        margin: 0 !important;
    }

    .navigation-box {
        margin: 0;
    }

    .navbar-expand-lg .menu-toggler {
        display: block;
        margin-right: 0;
        border-color: #fff;
        background-color: transparent !important;
        margin: 23px 0;
        color: #fff;
        border: none;
        font-size: 28px;
        float: right;
        outline: none;
        cursor: pointer;
    }

    .menu-toggler:hover {
        border-color: #00AD4D;
    }

    .menu-toggler .icon-bar {
        background: #fff;
    }

    .menu-toggler:hover .icon-bar {
        background: #00AD4D;
    }

    .navbar-expand-lg .navbar-collapse {
        padding-bottom: 0;
        overflow: auto !important;
        width: 100%;
    }

    .navbar-expand-lg .navbar-collapse {
        display: none !important;
        background: transparent;
        padding: 0px 0px !important;
        padding-bottom: 0px !important;
        margin: 0;
        background: #000;
        transition: all .5s ease;
        height: 0;
    }

    .navbar-expand-lg .navbar-collapse.showen {
        display: block !important;
        height: auto;
        max-height: 70vh;
    }

    .navbar-collapse.show {
        overflow-y: auto;
    }

    .header-navigation .nav {
        width: 100%;
        text-align: left;
    }

    .header-navigation .nav>li {
        display: block;
        padding: 0 !important;
        width: 100%;
        float: none;
    }

    .header-navigation .nav>li+li {
        margin-left: 0 !important;
    }

    .header-navigation .nav>li>a {
        padding: 8px 0;
    }

    .header-navigation .right-box.nav {
        width: 100%;
        margin: 0;
    }

    .header-navigation .right-box.nav>li>a {
        border: none !important;
        padding: 8px 0;
        color: #fff;
    }

    .header-navigation .nav>li>a:after {
        display: none;
    }

    .header-navigation .nav.navigation-box+.nav {
        border-top: 1px dashed #282828;
    }

    .header-navigation .navigation-box>li>.sub-menu,
    .header-navigation .navigation-box>li>.sub-menu>li>.sub-menu {
        position: relative !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        transition: none !important;
        display: none;
        float: none !important;
        margin: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .header-navigation .navigation-box>li>.sub-menu>li>a::after {
        display: none;
    }

    .header-navigation ul.navigation-box>li+li {
        padding: 0 !important;
        border-top: 1px solid rgba(255, 255, 255, .1);
        display: block;
        float: none;
        margin: 0 !important;
    }

    .header-navigation .nav>li.show-mobile {
        display: none;
    }

    .header-navigation ul.navigation-box>li>a,
    .header-navigation .right-box.nav>li>a {
        padding: 0;
        display: block;
        color: #fff;
        padding: 16px 0 16px 20px !important;
        transition: background 0.4s ease 0s;
    }


    .header-navigation ul.navigation-box li a .sub-nav-toggler {
        background-color: transparent;
        background-image: none;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 9px 9px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 15px;
        /*margin-top: 8px;*/
        margin-right: 0px;
        display: block;
        cursor: pointer;
        outline: none;
    }

    .header-navigation .navigation-box .sub-nav-toggler .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 1px;
        width: 20px;
    }

    .header-navigation .navigation-box .sub-nav-toggler .icon-bar+.icon-bar {
        margin-top: 4px;
    }

    .header-navigation .container .right-side-box {
        top: 0px;
        right: 0px;
        transform: translateY(0%)
    }

    .header-navigation .container {
        display: block;
        padding-right: 0px;
        padding-left: 0px;
        position: relative;
    }

    .header-navigation .container .logo-box {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        float: none;
        padding-right: 145px;
    }

    .header-navigation .container .logo-box .navbar-brand {
        float: left;
        padding: 20px 0;
    }

    .header-navigation .container .logo-box .navbar-toggler {
        float: left;
    }

    .header-navigation ul.navigation-box {
        display: block;
        margin: 0 !important;
        width: 100%;
    }

    .header-navigation ul.navigation-box>li {
        padding: 0;
        display: block;
    }

    .header-navigation ul.navigation-box>li>a {
        display: block;
        padding: 13px 30px;
    }

    .header-navigation ul.navigation-box>li>a:after {
        display: none;
    }

    .header-navigation ul.navigation-box>li+li {
        margin: 0;
    }

    .header-navigation .main-navigation {
        float: none;
        width: 100%;
        display: none;
        text-align: left;
        background: #181818;
        max-height: 70vh;
        overflow-y: scroll;
    }

    .header-navigation .container .menu-toggler {
        display: block;
    }

    .header-navigation.stricky-fixed ul.navigation-box>li {
        padding: 0;
    }

    .header-navigation .container .logo-box .navbar-brand {
        background-color: transparent;
    }

    .header-navigation .container .menu-toggler {
        float: left;
        margin: 21px 0;
        color: #111111;
        margin-left: 20px;
    }

    .header-navigation .container .logo-box {
        padding-right: 0 !important;
    }

    .header-navigation {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


    .site-header.header-one .header-navigation .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .site-header.header-one .header-navigation .container .menu-toggler {
        color: #fff;
    }

    .site-header.header-one .header-navigation ul.navigation-box>li {
        padding: 0;
    }

    .site-header.header-one .header-navigation .container .right-side-box {
        top: 30px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .site-header.header-one .header-navigation .container .right-side-box {
        top: 12px;
        right: 15px;
    }

    .header-one__home-two .header-navigation ul.navigation-box>li>a,
    .header-one__home-two .header-navigation ul.navigation-box>li.current>a,
    .header-one__home-two .header-navigation ul.navigation-box>li:hover>a {
        color: #fff;
    }

    .site-header.header-one__home-two .container .menu-toggler {
        color: #1b2143 !important;
    }

    .site-header.header-one__home-two .stricked-menu .header-one__btn {
        background-color: #f8b426;
    }

    .header-one__home-two .header-navigation .main-navigation {
        float: none !important;
        text-align: left;
    }

}



@media(max-width: 375px) {
    .site-header.header-one .header-navigation .container .right-side-box {
        display: none;
    }

    .site-header.header-one .header-navigation .container .menu-toggler {
        float: right;
    }
}

/*
* main responsive
*/

@media(max-width: 1199px) {
    .banner-two {
        background-position: 155% 0%;
    }
}

@media(max-width: 991px) {
    img {
        max-width: 100%;
    }

    .banner-one {
        padding: 150px 0;
        background-position: right center;
    }

    .cta-one__moc {
        position: relative;
        top: auto;
        right: auto;
    }

    .cta-one {
        padding-top: 70px;
    }

    .app-screen-one__carousel {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .app-screen-one__carousel:before {
        display: none;
    }

    .testimonials-one__thumb-carousel {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .testimonials-one__background-image {
        display: none;
    }

    .funfact-one__single {
        margin-left: auto;
        margin-right: auto;
    }

    .funfact-one .justify-content-end {
        justify-content: center;
    }

    .col-lg-3 .footer-widget {
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .footer-widget__btn+.footer-widget__btn {
        margin-left: 10px;
        margin-top: 0;
    }

    .banner-two__moc {
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-two {
        padding: 120px 0 0;
    }

    .banner-two .container {
        padding-bottom: 0;
    }

    .banner-two__text {
        width: 50%;
    }
    .banner-two {
        background-position: top right;
    }
    .inner-banner {
        background-position: left top;
    }
}

@media(max-width: 767px) {
    .banner-one {
        background-image: linear-gradient(-121deg, #048698 0%, #048698 50%, #69b8c3 100%);
    }

    .banner-one__moc {
        position: relative;
        left: auto;
        bottom: auto;
    }

    .site-footer__upper {
        padding-bottom: 65px;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .banner-two {
        background-position: top right;
    }

    .banner-two__text {
        width: 80%;
    }
    .banner-two__content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 30px;
    }
}

@media(max-width: 575px) {
    br {
        display: none;
    }
    .site-footer__bottom .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .site-footer__copy-text {
        margin-top: 25px;
        margin-left: 0;
    }

    .banner-two__text {
        width: 100%;
    }

    .video-one__link {
        width: 80px;
        height: 80px;
    }

    .video-one__link i {
        font-size: 15px;
    }
    .blog-details .share-block {
        flex-direction: column;
    }
    .blog-details__author-image, .blog-details__author-content,
    .comment-one__top-left, .comment-one__top-right,
    .comment-one__image, .comment-one__content {
        display: block;
        padding: 0;
    }
    .blog-details__author-content,
    .comment-one__top-right,
    .comment-one__content {
        padding-top: 40px;
    }
    .block-title__title:before {
        transform: translate(0%, -40%) !important;
        height: 140%;
    }
}

@media(max-width: 375px) {

    .footer-widget,
    .col-lg-3 .footer-widget {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-widget__btn+.footer-widget__btn {
        margin-top: 10px;
        margin-left: 0;
    }

    .footer-widget__text {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }
}