@font-face {
  font-family: 'appyn-icon';
  src:  url('fonts/appyn-icon.eot?1vl8nb');
  src:  url('fonts/appyn-icon.eot?1vl8nb#iefix') format('embedded-opentype'),
    url('fonts/appyn-icon.ttf?1vl8nb') format('truetype'),
    url('fonts/appyn-icon.woff?1vl8nb') format('woff'),
    url('fonts/appyn-icon.svg?1vl8nb#appyn-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="appyn-icon-"], [class*=" appyn-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'appyn-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appyn-icon-paper-plane:before {
  content: "\e900";
}
.appyn-icon-businessman:before {
  content: "\e901";
}
.appyn-icon-target-1:before {
  content: "\e902";
}
.appyn-icon-plus-symbol:before {
  content: "\e903";
}
.appyn-icon-user-plus:before {
  content: "\e904";
}
